.App {
    text-align: center;
}

.ship-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 0 auto;
    width: 80vw;
}

.header {
    margin-top: 0;
    background-color: black;
    color: white;
    padding: 5px;
    width: 100%;
}

.ship {
    background-color: rgb(23, 75, 72);
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    max-width: 45vw;
}

.ship#detail {
    margin: 0 auto;
    margin-top: 15vh;
    align-items: flex-start;
    padding: 30px;
}

.shipLink {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.ship#detail .shipLink {
    align-self: flex-end;
}

Link.shipLink:hover {
    color: cyan;
}

p {
    margin: 5px;
}

ul {
    margin: 5px;
    padding: 0;
    text-align: left;
}

li {
    list-style: none;
    padding-left: 20px;
    margin: 5px;
}
